<md-dialog aria-label="" flex="60">
    <form ng-cloak>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>{{movie.name}}</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="close()">
                    <md-icon md-svg-src="/dist/images/ic_close_white_24px.svg" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content >

            <div class="md-dialog-content" layout="row" layout-padding>
                <div>
                    <img ng-src="{{movie.url || '/dist/images/not_available.jpg'}}" alt="{{movie.name}}" class="movie-details-image"/>
                    <div layout="row" layout-align="start end" flex="auto" class="movie-details-ratings">
                        <div ng-repeat="n in ratings track by $index">
                            <img ng-if="movie.ratings >= $index+1" ng-src="/dist/images/ic_star_black_24px.svg">
                            <img ng-if="movie.ratings < $index+1 && movie.ratings > $index" ng-src="/dist/images/ic_star_half_black_24px.svg">
                            <img ng-if="movie.ratings < $index+1 && movie.ratings <= $index" ng-src="/dist/images/ic_star_border_black_24px.svg">
                        </div>
                    </div>
                </div>
                <div layout="column">
                    <h4 class="movie-details-name">{{movie.name}}</h4>
                    <p >{{movie.description}}</p>
                </div>
            </div>
        </md-dialog-content>

    </form>
</md-dialog>